<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>mongodb配置主从模式 </p>
    <p>1:建立mongodb测试文件夹</p>
    <p>存放整个mongodb文件 mkdir -p /data/mongodbtest/single</p>
    <p>存放mongodb数据文件 mkdir -p /data/mongodbtest/single/data</p>
    <p>进入mongodb文件夹 cd /data/mongodbtest/single</p>
    <p>2:下载mongodb的安装程序包</p>
    <p>wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-2.4.6.tgz</p>
    <p>解压下载的压缩包 tar xvzf mongodb-linux-x86_64-2.4.6.tgz</p>
    <p>进入mongodb程序执行文件夹 cd mongodb-linux-x86_64-2.4.6/bin/</p>
    <p>3:启动单实例mongodb</p>
    <p>mongod --dbpath /data/mongodbtest/single/data</p>
    <p>
    1、准备两台机器 192.168.0.1 和 192.168.0.2。 192.168.0.1 当作主节点， 192.168.0.2作为从节点。
    2、分别下载mongodb安装程序包。在192.168.0.1上建立文件夹 /data/mongodbtest/master，192.168.0.2建立文件夹/data/mongodbtest/slave。
    3、在192.168.0.1启动mongodb主节点程序。注意后面的这个 “ –master ”参数，标示主节点。
mongod –dbpath /data/mongodbtest/master –master
        4、在192.168.0.2启动mongodb从节点程序。关键配置，指定主节点ip地址和端口 –source 192.168.0.1:27017 和 标示从节点 –source 参数。
        mongod –dbpath /data/mongodbtest/slave –slave –source 192.168.0.1:27017
    测试主从复制
        mongo 127.0.0.1
        建立test数据库
        use test;
        往test表插入数据
        db.testdb.insert({"test1":"testval1"})
        查询testdb数据看看是否成功
        db.testdb.find();
        
        检查从主机的数据
        show dbs;
        use test;
        db.testdb.find();

        查看服务状态
        db.printReplicationInfo();

    
    </p>
</body>
</html>